name: Build and Push Docker Image

on:
  workflow_dispatch:
  push:
    branches:
      - main
    tags:
      - '*'

jobs:
  prod:
    if: startsWith(github.ref, 'refs/tags/')  
    uses: equinor/ops-actions/.github/workflows/docker.yml@4b121f6dc31fdcc90ba501843d31292c20f86eaf
    secrets:
        password: ${{ secrets.DOCKER_PASSWORD }}
    with:
      environment: prod
      registry: registry.hub.docker.com
      username: sondresjo
      repository: sondresjo/bobby-api
      tag: ${{ github.ref_name }}